*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	line-height: 1.5;
	font: 14px 'Inter', sans-serif;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 700;
	font-size: inherit;
}
a {
	text-decoration: none;
}

/* :root {
  --color-nav-border-grey: #EAEBEB;
  --color-btn-bg-deepBlue: #0F2A59;
  --color-navLink-footer-bg-black: #181818;
	—color-p-grey: #B6B6B6;
	—color-icon-setting-grey: #F8F8F8;
	—color-article-bg-pale-grey: #FAFAFA;
	—color-accent-orange: #FF8A3A;
	--color-btn-bg-deepBlue: #262626;
	—color-footer-icons-blue: #022B5C;
} */

h2 {
	/* font-size: 28px; */
	font-size: calc( 22px + (28 - 22) * ((100vw - 320px) / (1366 - 320)) );
}
h3 {
	/* font-size: 24px; */
	font-size: calc( 20px + (24 - 20) * ((100vw - 320px) / (1366 - 320)) );
}
h4 {
	/* font-size: 20px; */
	font-size: calc( 18px + (20 - 18) * ((100vw - 320px) / (1366 - 320)) );
}
h5 {
	/* font-size: 13px; */
	font-size: calc( 11px + (13 - 11) * ((100vw - 320px) / (1366 - 320)) );
	line-height: 140%
}
p {
	/* font-size: 14px; */
	font-size: calc( 12px + (14 - 12) * ((100vw - 320px) / (1366 - 320)) );
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.container {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	/* padding: 0 99px; */
	padding: 0 calc( 15px + (99 - 15) * ((100vw - 320px) / (1366 - 320)) );
}

.header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	/* height: 64px; */
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 64px; */
	height: calc( 55px + (64 - 55) * ((100vw - 320px) / (1366 - 320)) );
}
.header__logo>img{
	min-width: 100%;
	display: block;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
}
.nav__link {
	display: inline-block;
	vertical-align: top;
	/* margin: 0 8px; */
	margin: 0 calc( 4px + (8 - 4) * ((100vw - 320px) / (1366 - 320)) );
	position: relative;

	color: #181818;
	text-decoration: none;
	border-left: 1px solid #EAEBEB;
	/* padding-left: 14px; */
	padding-left: calc( 7px + (14 - 7) * ((100vw - 320px) / (1366 - 320)) );
	transition: color .3s linear;
}
.nav__link::after {
	content: '';
	display: block;
	width:110%;
	height: 0;
	
	background-color: #0F2A59;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .3s ease-out, height .4s;
}
.nav__link:hover {
	color: #FF8A3A;
}

.nav__link:hover::after {
	opacity: 1;
	height: 3px;
}

.nav__link:first-of-type {
	border-left: none;
}

.intro__inner {
	margin-top: 162px; /* 290px */
	/* margin-left: 68px; */
	margin-left: calc( 40px + (68 - 40) * ((100vw - 320px) / (1366 - 320)) );
	color: white;
}

.btn {
	display: inline-block;
	font-weight: 500;
	padding: 11px 40px;

	border: white 1px solid;
	
	background-color: transparent;
	color: white;
	outline: none;

	transition: background .1s ease-in, color .5s;
}
.btn:hover {
	background-color: #0F2A59;
	color: #FF8A3A;
	font-size: 15px;
}

.footer {
	background-color: #181818;
}
.footer__inner {
	display: flex;
	/* padding-top: 56px; */
	padding-top: calc( 40px + (56 - 40) * ((100vw - 320px) / (1366 - 320)) );
	/* padding-bottom: 80px; */
	padding-bottom: calc( 15px + (80 - 15) * ((100vw - 320px) / (1366 - 320)) );
	justify-content: space-between;
	
}

.contacts-area {
	display: flex;
	flex-basis: 25%;
	flex-direction: column;
	color: white;
}
.contacts__item {
	margin-top: 16px;
	font-size: 13px;
	letter-spacing: 2%;
}

.socials__item, 
.address__item {
	margin-top: 16px;
	font-size: 13px;
}

hr {
	height: 1px;
	/* width: 200px; */
	width: calc( 150px + (200 - 150) * ((100vw - 320px) / (1366 - 320)) );
	color: #262626;
	margin: 20px 0 10px;
}

.map {
	/* width: 869px; */
	width: calc( 290px + (869 - 290) * ((100vw - 320px) / (1366 - 320)) );
	overflow: hidden;
}

iframe {
	height: 342px;
	width: calc( 290px + (869 - 290) * ((100vw - 320px) / (1366 - 320)));
}


