* {
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.navbar-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 64px;
}

.nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-around; */
}